.progressbar {
  position: relative;
  width: 100%;
  height: 170px;
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}

.progressbar.hidden {
  opacity: 0;
}

.progressPercent {
  font-weight: 600;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
