.background {
  background: rgb(33, 9, 85);
  background: -moz-linear-gradient(
    180deg,
    rgba(33, 9, 85, 0) 0%,
    rgba(8, 2, 21, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(33, 9, 85, 0) 0%,
    rgba(8, 2, 21, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(33, 9, 85, 0) 0%,
    rgba(8, 2, 21, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#210955",endColorstr="#080215",GradientType=1);
}
