@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Josefin-Sans-bold';
  src: url('../public/fonts/josefin-sans.bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin-Sans';
  src: url('../public/fonts/josefin-sans.italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin-Sans-light';
  src: url('../public/fonts/josefin-sans.bold-light.ttf') format('truetype');
}

.josefin-b {
  font-family: 'Josefin-Sans-Bold', sans-serif;
}

.josefin {
  font-family: 'Josefin-Sans', sans-serif;
}

.josefin-l {
  font-family: 'Josefin-Sans-light', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: #080215;
}
