@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@layer base {
  * {
    font-family: 'Abril Fatface', serif !important;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100vh;
  background-image: url('../public/assets/bg.png');
}

#root {
  overflow-x: hidden;
}
